@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  width: 100%;
  background-color: #ff6012;
  padding: 1em 0;
}
section {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 50%;
  max-width: 300px;
}

.searchBox{
  display: flex;
  align-items: center;
  position: relative;
}

.searchBox input {
  padding: 0.5em 1.5em;
  height: 35px;
  width: 275px;
  border: none;
  border-radius: 20px;
  background-color: #eccdb1;
}
.searchBox label,
.searchBox img {
  position: absolute;
  z-index: 100;
}

.searchBox label{
  left: 10px;
}
.searchBox img{
  width: 20px;
  left: 240px;
}

@media(min-width: 768px){
  .nav-section{
    display: flex;
    justify-content: space-between;
  }
}